<!DOCTYPE html>
<html>
<head>
	<title>Test Shop</title>
</head>
<body>
<form action="/search" method="POST">
	<p>Product:</p> 
	<input type="text" name="name"><br>
	<input type="submit" value="Submit">
</form>
<table>
	<p>Search terms</p>
	<ul>
		<% texts.forEach(function(formatedText){  %>
    			<li><%- formatedText %></li>
      <% }) %>
	</ul>
</table>

</body>
</html>